/* Start Basics */

/* Start Variables */
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

/* End Variables */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--very-light-gray);
}

@media (max-width: 768px) {
    body {
        display: flex;
        padding: 0;
        margin: 0;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        background-color: var(--very-light-gray);
        min-height: 100vh;
        align-items: center;
        justify-content: center;
    }
    
    .container {
        width: 375px;
        padding: 1.5em 3em !important;
        margin: 0 !important;
    }

    .main-heading .heading-p {
        margin-bottom: -20px !important;
    }

    .main-heading .heading-p,
    .main-heading h1 {
        font-size: 23px !important;
    }

    .main-heading .description-p {
        width: 100% !important;
        max-width: none !important;
        font-size: 14px !important;
    }

    .container .boxes {
        flex-direction: column;
    }

    .container .boxes .box .text p {
        max-width: none !important;
        width: 100%;
    }

}

/* End Basics */

.main .container {
    margin: 25px 80px;
    text-align: center;
}

.main .main-heading .heading-p {
    font-weight: 200;
    font-size: 31px;
    color: var(--grayish-blue);
    margin-bottom: -25px;
}

.main .main-heading h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.main .main-heading .description-p {
    color: var(--grayish-blue);
    max-width: 30vw;
    margin: 0 auto 25px;
    font-size: 13px;
    line-height: 1.6;
}

.main .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 4em;
}

.main .boxes .two {
    margin-bottom: 20px;
}

.main .boxes .box {
    background-color: white;
    border-radius: 5px;
    border-top-width: 4px;
    border-top-style: solid;
    width: 300px;
    padding: 25px;
    box-shadow: 0 10px 15px 0 hsl(212deg 66% 40% / 19%);
}

.main .boxes .one {
    border-top-color: var(--cyan);
}

.main .boxes .two {
    border-top-color: var(--red);
}

.main .boxes .three {
    border-top-color: var(--orange);
}

.main .boxes .four {
    border-top-color: var(--blue);
}

.main .boxes .box .text {
    text-align: left;
}

.main .boxes .box .text h2 {
    font-size: 20px;
    margin: 0 auto -5px;
}

.main .boxes .box .text p {
    color: var(--grayish-blue);
    line-height: 1.7;
    font-size: 11px;
    max-width: 20vw;
}

.main .boxes .box .image {
    text-align: right;
    padding-top: 1.5em;
}

.attribution {
    font-size: 11px;
    text-align: center;
    transform: translateY(100px);
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}
